# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/

# uv
.uv/

# pytest
.pytest_cache/

# Distribución / build
dist/
build/
*.egg-info/

# Editor
.vscode/
.idea/
*.swp

# macOS
.DS_Store
